# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://lyftvezutupdfiqywciz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5ZnR2ZXp1dHVwZGZpcXl3Y2l6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU3MDk4MjMsImV4cCI6MjA3MTI4NTgyM30.CSP4qXe5O_jL1cEyXzOo6zV26IImepmGo4QpfEp08lA

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8001